*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    padding-left: 0;

}



@font-face {
    font-family: Tahoma;
    src: url(/font/windows-xp-tahoma.ttf);
}

html {
    font-family: Tahoma;
    box-sizing: border-box;
    
}

body {
    background: url(images//Windows/windows-xp-bg.jpg);
    background-attachment: fixed;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
    background-size: 100%;
    display: block;
    background-position: center;

    background-attachment: fixed;
    position: fixed;
    overflow: hidden;
}

.calc {
    margin-top: 250px;
    margin-left: 500px;
    position: relative;
    /* Относительное позиционирование */
    width: 260px;
    /* Ширина слоя */
    height: 260px;
    /* Высота слоя */
    float: right;
}

.bar {
    height: 29px;
}

.button-items {
    position: absolute;
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    top: 4px;
    /* Расстояние от верхнего края */
    left: 190px;
    /* Расстояние от левого края */
}

.button-item {
    margin-right: 1px;
}

a.button-disabled {
    pointer-events: none;
    /* делаем элемент неактивным для взаимодействия */
    cursor: default;
    /*  курсор в виде стрелки */
    margin-right: 1px;
}

.button-item:hover {
    cursor: pointer;
    filter: brightness(1.3);
}

.window {
    position: absolute;
    width: 260px;
    /* Ширина слоя */
    height: 231px;
    /* Высота слоя */
    background-color: #ECE9D8;
    background-image: url(/images/Menu/window.svg);
}

.menu-items {
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
}

.menu-item {
    margin: 4px;
}

.stroke {
    position: absolute;
    width: 254px;
    height: 1px;
    left: 3px;
    top: 19px;
    background-color: white;
}

a.menu-item:hover {
    filter: invert(100%);
    background: #D6892D
}

a.button-item:hover {
    filter: brightness(1.3);
}

.input [type=text] {
    text-align: right;
    display: flexbox;
    margin-left: 10px;
    margin-top: 23px;
    font-family: Tahoma;
    font-size: 16px;
    padding-right: 7px;
    padding-bottom: 3px;
    width: 100%;
    box-sizing: border-box;
    width: 237px;
    height: 21px;
    margin-left: 11px;
    border-color: #7f9dba;
    background: #FFFFFF;
    border: 1px solid #7F9DB9;
    font-size: 15px;
    border-width: 1px;
    justify-items: right;
    align-items: end;
    overflow: scroll;
    overflow-y: visible;
    resize: none;
}


.buttons {
    display: flexbox;
    position: absolute;
    left: 59px;
    top: 96px;
    width: 200px;
    height: 123px;
}

.btn {
    width: 32px;
    height: 25px;
    background-color: #f3f3f1;
    font-family: Tahoma;
    font-size: 15px;
    color: #004CFF;
    border-color: #003C74;
    border-radius: 3.5px;
    text-align: center;
    border-width: 1px;
    display: flexbox;
    margin-right: 5px;
    margin-bottom: 7px;
    box-shadow: 1px 1px 0px 0px #faf9f5;
}

.btn:hover {
    filter: brightness(120%);
}

.red {
    width: 32px;
    height: 25px;
    background-color: #f3f3f1;
    font-family: Tahoma;
    font-size: 15px;
    color: #ff0000;
    border-color: #003C74;
    border-radius: 3.5px;
    text-align: center;
    border-width: 1px;
    display: flexbox;
    margin-right: 5px;
    margin-bottom: 7px;
    box-shadow: 1px 1px 0px 0px #faf9f5;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 13px;
    top: 96px;
    width: auto;
    height: auto;
}

.top-buttons {
    display: flex;
    position: absolute;
    left: 59px;
    top: 59px;
    width: auto;
    height: auto;
}

.big {
    width: 59px;
    height: 25px;
    background-color: #f3f3f1;
    font-family: Tahoma;
    font-size: 15px;
    color: #ff0000;
    border-color: #003C74;
    border-radius: 3.5px;
    text-align: center;
    border-width: 1px;
    display: flexbox;
    margin-right: 5px;
    margin-bottom: 7px;
    box-shadow: 1px 1px 0px 0px #faf9f5;
}

.idk {
    position: absolute;
    width: 27px;
    height: 26px;
    left: 15px;
    top: 59px;
    background: #ECE9D8;
    box-shadow: inset -1px -1px 1px #FFFFFF, inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.idk:active {
    position: absolute;
    width: 27px;
    height: 26px;
    left: 15px;
    top: 59px;
    background: #ECE9D8;
    box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px #FFFFFF;
}

.windows-bar {
    position: fixed;
    left: 0px;
    bottom: 7px;
    image-resolution: unset;
    display: block;
    max-width: 100%;
    height: 28px;
    width: auto;
    height: 30px;
    background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
}

.windows-start-btn:hover {
    filter: brightness(105%);
}

.windows-start-btn:active {
    filter: brightness(90%);
}
.windows-tray{
    flex-shrink: 0;
    background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
    border-left: 1px solid rgb(16, 66, 175);
    box-shadow: rgb(24, 187, 255) 1px 0px 1px inset;
    bottom: 0px;
    right: 0px;
    position: fixed;
    width: 117px;
    height: 30px;
}

.windows-icons{
    display: flex;
    margin-left: 12px;
    margin-top: 8px;
    margin-right: 5px;
}
.windows-time{

    font-size: 20px;
    margin-left: 4px;
    color: white;
}

